h1{
    text-align:center;
}
body{
  background-color: lightgrey;
  }

#boxModel{
    background-color: grey;
    width: 80%;
    padding: 25px;
    margin: auto;
    text-align:center;
}
table {
    border-spacing: 0;
    border: 1px solid black;
    text-align:left;
}
.tableFix{
   height:90%; 
   width: 90%; 
   overflow: hidden;
   white-space: nowrap;
   margin:auto;
}

tr:nth-child(even){background-color:lightblue};
tr:nth-child(odd){background-color:lightgrey};
